html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#floater, #content {
    border: 1px solid #ccc;
}
#content {
    border: 1px solid red;
}
#floater {
    float: left;
    height: 50%;
    margin-bottom: -120px;
}
#content {
    height: 240px;
    position: relative;
    clear: both;
}